<dom-module id="wall-scopelist">
  <style>
    /*:host {*/
    /*display: block;*/
    /*}*/

    /*section {*/
    /*padding: 2px;*/
    /*font-size: 16px;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*}*/

    paper-material {
      /*width: calc(97.33% - 32px);*/
      border-radius: 2px;
      height: 100%;
      /*width: 100%;*/
      margin: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      /*// width: calc(98.66% - 16px);*/
      background: #ffffff;
      border-color: #646464;
    }

    paper-slider {
      width: 100%;
    }

    .list {
      padding-top: 5px;
      background-color: #ffffff;
      display: inline-block;
      width: 50%;
      /*height: 228px;*/
      margin: 5px;
    @apply(- -shadow-elevation-1 .5 dp);
    }

    h4 {
      margin-top: 5px;
      margin-bottom: 10px;
      margin-left: 12px;
      padding: 5px;
    }

    .avatar {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }

    .warning {
      margin-top: 5px;
      margin-bottom: 10px;
      margin-left: 12px;
      padding: 5px;
      color: #FF3D00; /*material red 400*/
    }

    google-chart {
      height:100%;
      width: 100%;
    }


    paper-button[raised].colorful {
      background: #D84315;
      color: #fff;
    }


  </style>
  <template>
    <template is="dom-repeat" id="scopeList" items="{{scopes}}" as="scope" index-as="scopeIndex">
      <section>
        <paper-material elevation="0">
          <div>

            <div class="horizontal layout">
              <div><h4>{{scope.name}}</h4></div><div class="flex"></div><div><span><paper-icon-button on-tap="deleteScope" icon="delete"></paper-icon-button></span></div>
            </div>

            <div class="horizontal layout flex">

            <div class="list">
              <div class="horizontal layout flex">
                <div><h4>Bugs</h4></div>
                <div class="flex">
                  <wall-addbug scope-index$="{{scopeIndex}}"></wall-addbug>
                </div>
              </div>
              <template is="dom-if" if="{{!scope.bugs}}">
                <div class="horizontal layout flex">
                  <div class="warning">There are 0 bugs in this scope.</div>
                  <div class="flex"></div>
                </div>
              </template>
              <template is="dom-repeat" items="{{scope.bugs}}" id="bugList" as="bug" index-as="bugIndex">
                <paper-icon-item flex>
                  <div class="avatar" style$="{{toColor(bug.color)}}" item-icon></div>
                  <paper-item-body two-line>

                    <div>{{toTitleCase(bug.name)}}<span>&nbspPopulation:</span></div>
                    <div secondary>
                      <paper-slider id="{{bug.id}}" min="0" max="100" step="1" immediateValue="{{bug.population}}" on-change="sliderTextChange" on-immediate-value-change="sliderImmediateChange" value="{{bug.population}}" editable></paper-slider>
                    </div>
                  </paper-item-body>
                  <paper-icon-button on-tap="deleteBug" icon="delete"></paper-icon-button>
                </paper-icon-item>

              </template>
            </div>
              <div class="list">
                <div class="horizontal layout flex">
                  <div><h4>Population Graph</h4></div>
                </div>
                  <google-chart
                  id='{{computeChartId(scopeIndex)}}'
                  type='column'
                  options='{ "vAxis": {"minValue" : 0, "maxValue": 100} ,"legend": "none"}'
                  data='{{computeData(scope.bugs)}}'>
                </google-chart>
                </div>
              </div>
              </div>

          </div>
          <div class="horizontal center-justified layout">
            <div><paper-button tabindex="0" raised class="colorful custom" on-tap="updateRemoteScopeAction">Update</paper-button>
            </div>
          </div>
        </paper-material>
      </section>
    </template>
    <paper-toast id="wall-toast" class="capsule" text=""></paper-toast>
  </template>
</dom-module>
<script>
  (function () {
    Polymer({
      is: 'wall-scopelist',
      properties: {
        scopes: {
          type: Array,
          notify: true
        }
      },
      observers: [
        'scopesAddedOrRemoved(scopes.*)'
      ],
      ready: function () {
        var app = document.querySelector('#app');
        this.scopes = app.scopes;
      },
      created: function () {
        console.log(this.localName + '#' + this.id + ' was created');
      },
      addScope: function (scope) {
        this.push('scopes', scope);
      },
      addBugToScope: function (bug, scopeIndex) {
        var path = 'scopes.' + scopeIndex + '.bugs';
        this.push(path, bug);
        console.log('bug added to ' + path);

        var bugs = this.scopes[scopeIndex].bugs;

        var chartId = scopeIndex+'-chart';
        this.redrawChart(chartId, bugs);

        var t = document.querySelector('#wall-toast');
        t.text = 'The bug ' + bug.name + ' has been added.';
        t.show();
      },
      deleteScope: function (event) {
        var scopeModel = this.$.scopeList.modelForElement(event.target);
        var path = 'scopes';
        var removed = this.splice(path, scopeModel.scopeIndex, 1);
        console.log('Wallscope' + removed + ' deleted from ' + path);
        var t = document.querySelector('#wall-toast');
        t.text = 'The Wallscope ' + scopeModel.name + ' has been deleted.';
        t.show();
      },
      deleteBug: function (event) {
        var scopeModel = this.$.scopeList.modelForElement(event.target);
        var bugModel = event.model;
        var bugIndex = bugModel.bugIndex;


        var path = 'scopes.' + scopeModel.scopeIndex + '.bugs';
        var removed = this.splice(path, bugIndex, 1);
        console.log('bug' + removed + ' deleted from ' + path);

        var chartId = scopeModel.scopeIndex+'-chart';

        var bugs = this.$.scopeList.items[scopeModel.scopeIndex].bugs;

        this.redrawChart(chartId, bugs);


        var t = document.querySelector('#wall-toast');
        t.text = 'The bug ' + bugModel.bug.name + ' has been deleted.';
        t.show();
      },
      updateRemoteScopeAction: function(event) {
        var scopeModel = this.$.scopeList.modelForElement(event.target);

        var app = document.querySelector('#app');
        app.sendScopeUpdate(scopeModel.scope);
      },
      scopesAddedOrRemoved: function (changeRecord) {
        console.log('SCOPES changes added or removed SCOPES:');
        console.log(JSON.stringify(changeRecord, null, '\t'));
      },
      zeroBugs: function(bugs) {
        if( typeof bugs === 'undefined') {
          return true;
        } else if ( bugs.length <= 0) {
          return true;
        } else {
          return false;
        }
      },
      toColor: function (value) {
        if (value) {

          var css = 'background-color:'+ value;

          return css;
        }
      },
      toTitleCase: function (str) {
        return str.replace(/\w\S*/g, function (txt) {
          return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
        });
      },
      computeChartId: function(id){
        return id+'-chart';
      },
      computeData: function(bugs) {

        var data = [['Name', 'Population', { role: 'style' }]];

        if( this.zeroBugs(bugs)) {
          data.push(['',0,'']);
          return data;
        }

        for (var i = 0; i < bugs.length; i++) {
          var bug = bugs[i];
          data.push([bug.name, bug.population, bug.color]);
        }
        return data;
      },
      sliderImmediateChange: function(event) {

        var foundScope = this.$.scopeList.itemForElement(event.target);
        var scopeIndex = this.$.scopeList.indexForElement(event.target);

        var foundBugId = event.model.bug.id;
        var newPopulation = event.target.immediateValue;
        var newBugs =[];
        for (var i = 0; i < foundScope.bugs.length; i++) {
          var bug = foundScope.bugs[i];
          var color = 'color:'+bug.color;
          if( bug.id === foundBugId) {
            newBugs.push({ name: bug.name, population: newPopulation, color: color});
          } else {
            newBugs.push({ name: bug.name, population: bug.population,color: color});
          }
        }

        var chartId = scopeIndex+'-chart';
        this.redrawChart(chartId, newBugs);
      },

      sliderTextChange: function(event) {

        console.log('slider ' + event);
        var foundScope = this.$.scopeList.itemForElement(event.target);
        var scopeIndex = this.$.scopeList.indexForElement(event.target);

        var foundBugId = event.model.bug.id;
        var newPopulation = parseInt(event.target.value);
        var newBugs =[];
        for (var i = 0; i < foundScope.bugs.length; i++) {
          var bug = foundScope.bugs[i];
          var color = 'color:'+bug.color;
          if( bug.id === foundBugId) {
            newBugs.push({ name: bug.name, population: newPopulation, color: color});
          } else {
            newBugs.push({ name: bug.name, population: bug.population,color: color});
          }
        }

        var chartId = scopeIndex+'-chart';
        this.redrawChart(chartId, newBugs);
      },
      redrawChart: function(chartId,bugs) {
        var chart = document.getElementById(chartId);
        chart.data = this.computeData(bugs);
        chart.drawChart();
      }

  });
  })();
</script>

