body, html {
    font-family: Helvetica, Sans-Serif;
    background-color: white;
}

h1#title {
    letter-spacing: 0.07em;
    word-spacing: 1em;
}

.text-center {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
    height: 600px;
    background-color: rgba(0, 96, 100, 0.15);
}

.control-container-box {
    height: 80%;
    width: 39.1%;
    margin: 5%;
    background-color: rgba(100, 12, 0, 0.09);
}

.control-container {
    height: 80%;
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}

.control {
    cursor: pointer;

    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    background-color: rgba(0, 100, 26, 0.16);
}

.control:hover, .control.selected {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;

    background-color: rgb(0, 100, 26);
}

.control.locked {
    background-color: rgb(94, 100, 90);
}

.control.specie {
    height: 80px;
    width: 80px;
    margin: 20px;
}

.control.action {
    height: 120px;
    width: 120px;
    margin: 40px;
    margin-top: 20px;
}

.control img {
    height: 100%;
    width: 100%;
}

h2.title {
    display: block;
}

wallcology-selector {
    display: block;
    width: 670px;
    margin: 20px auto auto auto;
}

action-selector {
    display: block;
    width: 786px;
    margin: 100px auto auto auto;
}

[active].action-selector {
    background-color: rgba(255, 233, 33, 0.75)!important;
}

paper-icon-button[active].wallcology-selector {
    background-color: rgba(255, 233, 33, 0.75)!important;
}
