# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IntelliJ
.DS_Store
.idea/
*.iml
**/bower_components
**/node_modules
interfaces/wallscope-interface/.DS_Store
