
.color-primary-0 { color: #AA3939 } /* Main Primary color */
.color-primary-1 { color: #FFAAAA }
.color-primary-2 { color: #D46A6A }
.color-primary-3 { color: #801515 }
.color-primary-4 { color: #550000 }


html { 
    width:100% ;
    height:100% ;
    overflow:hidden ;
    background-color: rgb(60,81,105);
    color:White;
}

iframe { width:100% ;
        height:100% ;
        border:none ; 
        color:White;
 }

td { font-size: 140%; color: White; }

table.center {
    margin-left:auto; 
    margin-right:auto;
  }


body {
    /*font-family: "Lato", sans-serif; width:100% ;*/
    /*background-image: url("bg.jpg");*/
    color: White;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    /*font-weight: bold;*/
    text-align:center;
    height:100% ;
    overflow:hidden ;
}


select {
    -webkit-appearance: none;
    font-size:16px;
}

option {
    -webkit-appearance: none;
    font-size:16px;
}


/*button {
	color: black; 
    font-size:100%;
        background-color: lightgray;
        border-radius: 10px;
        font-size: 80%;
}*/
button {
    display: inline-block;
    -webkit-appearance: none;
    -webkit-border-radius: 4;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #999999;  
    border: none;
    color: #263238; /*white;*/
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 0.75em;
    font-weight: bold;
    margin: 10px 0px 0px 4px;
}
button:hover,
button:focus {
    background-color: #666666;
    text-decoration: none;
    cursor: pointer;
    color: white;
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 2;
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: DarkCyan; /* tab bar background color */
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline;
    color: White; /* menu item font color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 100%;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #777;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #222;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
    color: White;
}