
.color-primary-0 { color: #AA3939 } /* Main Primary color */
.color-primary-1 { color: #FFAAAA }
.color-primary-2 { color: #D46A6A }
.color-primary-3 { color: #801515 }
.color-primary-4 { color: #550000 }


html { width:100% ;
    height:100% ;
    overflow:hidden ;
    background-color: rgb(60,81,105);
    color:white;
    
}


textarea { font-size: 50%; }

td { font-size: 100%; color: white; }

button {
    color: black; /* button font color */
        background-color: lightgray;
        border-radius: 10px;
        font-size: 100%;
}

button:disabled {
  opacity: 0.35; 
  cursor: not-allowed;
}


select {
    -webkit-appearance: none;
    font-size:100%;
}

option {
    -webkit-appearance: none;
    font-size:100%;
}

table {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }



body {font-family: "Lato", sans-serif; width:100% ;
/*    background-image: url("bg.jpg"); */
    color: white;
    font-size: 100%;
    height:100% ;
    text-align:left;
    vertical-align: top;
    overflow:hidden ;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgb(256,256,256); 
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height:100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal2-content {
    position: relative;
    background-color: rgb(0,0,0); 
    margin: auto;
    padding: 0;
    width: 90%;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/*img {
  opacity: 0.30; 
}
*/
/*img:enabled {
    border: 5px;
  opacity: 1.00; 
}
*/
#canvas { pointer-events:none; }

/*button:disabled {
  opacity: 1.00; 
}*/

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: DarkCyan; /* tab bar background color */
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline;
    color: white; /* menu item font color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    /*font-size: 17px;*/
    font-size: 100%;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #777;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #222;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
    color: white;
}