<dom-module id="phase-list">
  <style>

    .avatar {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }

    paper-button[raised].colorful {
      background: #D84315;
      color: #fff;
    }


  </style>
  <template>

      <paper-material elevation="0" class="phase">
        <div id="phases">
          <template id="off" is="dom-if" if="{{!phases.length}}">
            <paper-material class="task-empty">
              <paper-item elevation="2">No Phases remain.</paper-item>
            </paper-material>
          </template>

          <template id="on" is="dom-repeat" items="{{phases}}">
            <phase-item phase="{{item}}" pindex="{{index}}"></phase-item>
          </template>
        </div>
      </paper-material>

    <paper-toast id="wall-toast" class="capsule" text=""></paper-toast>
  </template>
</dom-module>
<script>
  (function () {
    Polymer({
      is: 'phase-list',
      properties: {
        phases: {
          type: Array,
          value: [{name:'Introduction',phaseId:0, runId:1, groups:[]}, {name:'Food Webs',phaseId:0, runId:1, groups:[]},{name:'Manipulations',phaseId:0, runId:1, groups:[]}],
          notify: true
        }
      },
      createEmptyPhase: function () {
        this.push('phases', {name:'NEW PHASE ',phaseId:0, runId:1, groups:[]});
      },
      deletePhase: function(phase) {
        var index = this.phases.indexOf(phase);
        this.splice('phases', index, 1);
      },
      observers: [
        'phasesAddedOrRemoved(phases.*)'
      ],
      ready: function () {

      },
      created: function () {
        console.log(this.localName + '#' + this.id + ' was created');
      },
      phasesAddedOrRemoved: function (changeRecord) {
        console.log('PHa changes added or removed PHASES:');
        console.log(JSON.stringify(changeRecord, null, '\t'));
      },
    });
  })();
</script>

